@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 900px;
  margin: 0 auto;
  background-image: url(ddd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}